USE [master]
GO
/****** Object:  Database [QLVT_DATHANG]    Script Date: 3/14/2022 2:15:19 PM ******/
CREATE DATABASE [QLVT_DATHANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLVT_DATHANG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLVT_DATHANG.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLVT_DATHANG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLVT_DATHANG_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLVT_DATHANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLVT_DATHANG]
GO
/****** Object:  User [HTKN]    Script Date: 3/14/2022 2:15:19 PM ******/
CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 3/14/2022 2:15:19 PM ******/
CREATE ROLE [MSmerge_PAL_role]
GO
/****** Object:  DatabaseRole [MSmerge_D319809576B9413683C9638F03C13B8D]    Script Date: 3/14/2022 2:15:19 PM ******/
CREATE ROLE [MSmerge_D319809576B9413683C9638F03C13B8D]
GO
/****** Object:  DatabaseRole [MSmerge_47E8E62BD2D041A19DB5793CD0C1C37C]    Script Date: 3/14/2022 2:15:19 PM ******/
CREATE ROLE [MSmerge_47E8E62BD2D041A19DB5793CD0C1C37C]
GO
/****** Object:  DatabaseRole [MSmerge_38B1F67ACDDE4E5C9352F562B8E8EEB2]    Script Date: 3/14/2022 2:15:19 PM ******/
CREATE ROLE [MSmerge_38B1F67ACDDE4E5C9352F562B8E8EEB2]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_D319809576B9413683C9638F03C13B8D]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_47E8E62BD2D041A19DB5793CD0C1C37C]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_38B1F67ACDDE4E5C9352F562B8E8EEB2]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 3/14/2022 2:15:19 PM ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  View [dbo].[V_DS_PHANMANH]    Script Date: 3/14/2022 2:15:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DS_PHANMANH]
AS
SELECT  TENCN=PUBS.description, TENSERVER= subscriber_server
   FROM dbo.sysmergepublications PUBS,  dbo.sysmergesubscriptions SUBS
   WHERE PUBS.pubid= SUBS.PUBID  AND PUBS.publisher <> SUBS.subscriber_server
GO
/****** Object:  Table [dbo].[ChiNhanh]    Script Date: 3/14/2022 2:15:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiNhanh](
	[MACN] [nchar](10) NOT NULL,
	[ChiNhanh] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[SoDT] [nvarchar](15) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_ChiNhanh] PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTDDH]    Script Date: 3/14/2022 2:15:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDDH](
	[MasoDDH] [nchar](8) NOT NULL,
	[MAVT] [nchar](4) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_CTDDH] PRIMARY KEY CLUSTERED 
(
	[MasoDDH] ASC,
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPN]    Script Date: 3/14/2022 2:15:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPN](
	[MAPN] [nchar](8) NOT NULL,
	[MAVT] [nchar](4) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [float] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_CTPN] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC,
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPX]    Script Date: 3/14/2022 2:15:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPX](
	[MAPX] [nchar](8) NOT NULL,
	[MAVT] [nchar](4) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [float] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_CTPX] PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC,
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatHang]    Script Date: 3/14/2022 2:15:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatHang](
	[MasoDDH] [nchar](8) NOT NULL,
	[NGAY] [date] NOT NULL,
	[NhaCC] [nvarchar](100) NOT NULL,
	[MANV] [int] NOT NULL,
	[MAKHO] [nchar](4) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_DatHang] PRIMARY KEY CLUSTERED 
(
	[MasoDDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kho]    Script Date: 3/14/2022 2:15:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kho](
	[MAKHO] [nchar](4) NOT NULL,
	[TENKHO] [nvarchar](30) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[MACN] [nchar](10) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_Kho] PRIMARY KEY CLUSTERED 
(
	[MAKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 3/14/2022 2:15:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MANV] [int] NOT NULL,
	[HO] [nvarchar](40) NULL,
	[TEN] [nvarchar](10) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[NGAYSINH] [datetime] NULL,
	[LUONG] [float] NULL,
	[MACN] [nchar](10) NULL,
	[TrangThaiXoa] [int] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 3/14/2022 2:15:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MAPN] [nchar](8) NOT NULL,
	[NGAY] [date] NOT NULL,
	[MasoDDH] [nchar](8) NOT NULL,
	[MANV] [int] NOT NULL,
	[MAKHO] [nchar](4) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_PhieuNhap] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuXuat]    Script Date: 3/14/2022 2:15:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuXuat](
	[MAPX] [nchar](8) NOT NULL,
	[NGAY] [date] NOT NULL,
	[HOTENKH] [nvarchar](100) NOT NULL,
	[MANV] [int] NOT NULL,
	[MAKHO] [nchar](4) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_PX] PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vattu]    Script Date: 3/14/2022 2:15:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vattu](
	[MAVT] [nchar](4) NOT NULL,
	[TENVT] [nvarchar](30) NOT NULL,
	[DVT] [nvarchar](15) NOT NULL,
	[SOLUONGTON] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_VatTu] PRIMARY KEY CLUSTERED 
(
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiNhanh] ([MACN], [ChiNhanh], [DIACHI], [SoDT], [rowguid]) VALUES (N'CN1       ', N'Chi nhánh 1 TP HCM', N'35 Trần Hưng Đạo P1 Q1', N'999111888', N'9404723d-770a-ec11-a5c1-2047471b9687')
INSERT [dbo].[ChiNhanh] ([MACN], [ChiNhanh], [DIACHI], [SoDT], [rowguid]) VALUES (N'CN2       ', N'Chi nhánh 2 TP Cần Thơ', N'27 Nguyễn Huệ', N'333222111', N'9504723d-770a-ec11-a5c1-2047471b9687')
GO
INSERT [dbo].[CTDDH] ([MasoDDH], [MAVT], [SOLUONG], [DONGIA], [rowguid]) VALUES (N'ádasd   ', N'M01 ', 1, 233, N'77bd887b-b960-ec11-a5fc-2047471b9687')
INSERT [dbo].[CTDDH] ([MasoDDH], [MAVT], [SOLUONG], [DONGIA], [rowguid]) VALUES (N'ádasd   ', N'M12 ', 20, 233, N'f1a40985-b960-ec11-a5fc-2047471b9687')
INSERT [dbo].[CTDDH] ([MasoDDH], [MAVT], [SOLUONG], [DONGIA], [rowguid]) VALUES (N'DH1     ', N'M01 ', 4, 20, N'fac0adf6-7d61-ec11-a5fc-2047471b9687')
GO
INSERT [dbo].[CTPN] ([MAPN], [MAVT], [SOLUONG], [DONGIA], [rowguid]) VALUES (N'03      ', N'M19 ', 3, 200000, N'b5458fa7-3449-ec11-a5e8-acd1b8d7fe76')
INSERT [dbo].[CTPN] ([MAPN], [MAVT], [SOLUONG], [DONGIA], [rowguid]) VALUES (N'DH123   ', N'M11 ', 2, 12000, N'c7a2eff4-0362-ec11-a5fc-2047471b9687')
INSERT [dbo].[CTPN] ([MAPN], [MAVT], [SOLUONG], [DONGIA], [rowguid]) VALUES (N'DH123   ', N'M87 ', 3, 10000, N'c579c901-0462-ec11-a5fc-2047471b9687')
GO
INSERT [dbo].[CTPX] ([MAPX], [MAVT], [SOLUONG], [DONGIA], [rowguid]) VALUES (N'PX1     ', N'M03 ', 5, 100, N'c462b149-6361-ec11-a5fc-2047471b9687')
GO
INSERT [dbo].[DatHang] ([MasoDDH], [NGAY], [NhaCC], [MANV], [MAKHO], [rowguid]) VALUES (N'ádasd   ', CAST(N'2021-12-19' AS Date), N'ádasd', 3, N'TD  ', N'2d46d773-b960-ec11-a5fc-2047471b9687')
INSERT [dbo].[DatHang] ([MasoDDH], [NGAY], [NhaCC], [MANV], [MAKHO], [rowguid]) VALUES (N'DDH0012 ', CAST(N'2021-12-20' AS Date), N'asd', 3, N'TD  ', N'8e6b2588-a761-ec11-a5fc-2047471b9687')
INSERT [dbo].[DatHang] ([MasoDDH], [NGAY], [NhaCC], [MANV], [MAKHO], [rowguid]) VALUES (N'DH1     ', CAST(N'2021-12-20' AS Date), N'ÁD', 3, N'TD  ', N'b57357ec-7d61-ec11-a5fc-2047471b9687')
GO
INSERT [dbo].[Kho] ([MAKHO], [TENKHO], [DIACHI], [MACN], [rowguid]) VALUES (N'LP  ', N'LONG PHU', N'127 Ngô Thì Nhậm, Thị xã Long Phú', N'CN2       ', N'9b04723d-770a-ec11-a5c1-2047471b9687')
INSERT [dbo].[Kho] ([MAKHO], [TENKHO], [DIACHI], [MACN], [rowguid]) VALUES (N'TD  ', N'THỦ ĐỨC', N'34,Quang Trung THủ Đức TPHCM', N'CN1       ', N'9c04723d-770a-ec11-a5c1-2047471b9687')
INSERT [dbo].[Kho] ([MAKHO], [TENKHO], [DIACHI], [MACN], [rowguid]) VALUES (N'TK  ', N'TỔNG KHO QUẬN 9', N'134 Đình Phong Phú ,Quận 9,TPHCM', N'CN1       ', N'9d04723d-770a-ec11-a5c1-2047471b9687')
GO
INSERT [dbo].[NhanVien] ([MANV], [HO], [TEN], [DIACHI], [NGAYSINH], [LUONG], [MACN], [TrangThaiXoa], [rowguid]) VALUES (1, N'Lương Thị', N'Trang', N'Thủ Đức', CAST(N'2000-05-05T00:00:00.000' AS DateTime), 6000000, N'CN1       ', 0, N'9e04723d-770a-ec11-a5c1-2047471b9687')
INSERT [dbo].[NhanVien] ([MANV], [HO], [TEN], [DIACHI], [NGAYSINH], [LUONG], [MACN], [TrangThaiXoa], [rowguid]) VALUES (2, N'Nguyễn', N'Hà', N'Quận 9', CAST(N'2001-03-05T00:00:00.000' AS DateTime), 4000000, N'CN2       ', 0, N'9f04723d-770a-ec11-a5c1-2047471b9687')
INSERT [dbo].[NhanVien] ([MANV], [HO], [TEN], [DIACHI], [NGAYSINH], [LUONG], [MACN], [TrangThaiXoa], [rowguid]) VALUES (3, N'Trần', N'Thanh', N'Quận 10', CAST(N'1994-07-04T00:00:00.000' AS DateTime), 5000000, N'CN1       ', 0, N'a004723d-770a-ec11-a5c1-2047471b9687')
GO
INSERT [dbo].[PhieuNhap] ([MAPN], [NGAY], [MasoDDH], [MANV], [MAKHO], [rowguid]) VALUES (N'03      ', CAST(N'2021-12-19' AS Date), N'MDDH04  ', 3, N'TK  ', N'1197b955-3449-ec11-a5e8-acd1b8d7fe76')
INSERT [dbo].[PhieuNhap] ([MAPN], [NGAY], [MasoDDH], [MANV], [MAKHO], [rowguid]) VALUES (N'DH123   ', CAST(N'2021-12-21' AS Date), N'DH123   ', 3, N'TD  ', N'c6a2eff4-0362-ec11-a5fc-2047471b9687')
INSERT [dbo].[PhieuNhap] ([MAPN], [NGAY], [MasoDDH], [MANV], [MAKHO], [rowguid]) VALUES (N'dsdsd   ', CAST(N'2021-12-19' AS Date), N'ádasd   ', 3, N'TD  ', N'4c74fc92-b960-ec11-a5fc-2047471b9687')
GO
INSERT [dbo].[PhieuXuat] ([MAPX], [NGAY], [HOTENKH], [MANV], [MAKHO], [rowguid]) VALUES (N'PX1     ', CAST(N'2021-12-20' AS Date), N'Nguyễn Hải Anh', 3, N'TD  ', N'eee2f73d-6361-ec11-a5fc-2047471b9687')
GO
INSERT [dbo].[Vattu] ([MAVT], [TENVT], [DVT], [SOLUONGTON], [rowguid]) VALUES (N'M01 ', N'Máy giặt tự động cửa trước sau', N'Cái', 23, N'9604723d-770a-ec11-a5c1-2047471b9687')
INSERT [dbo].[Vattu] ([MAVT], [TENVT], [DVT], [SOLUONGTON], [rowguid]) VALUES (N'M03 ', N'ĐIỆN THOẠI', N'CÁI', 9, N'5dc978ef-6249-ec11-a5e8-acd1b8d7fe76')
INSERT [dbo].[Vattu] ([MAVT], [TENVT], [DVT], [SOLUONGTON], [rowguid]) VALUES (N'M11 ', N'Ô TÔ', N'CHIẾC', 12, N'53c8c40d-6349-ec11-a5e8-acd1b8d7fe76')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_ChiNhanh]    Script Date: 3/14/2022 2:15:19 PM ******/
ALTER TABLE [dbo].[ChiNhanh] ADD  CONSTRAINT [UK_ChiNhanh] UNIQUE NONCLUSTERED 
(
	[ChiNhanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_581577110]    Script Date: 3/14/2022 2:15:19 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_581577110] ON [dbo].[ChiNhanh]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_821577965]    Script Date: 3/14/2022 2:15:19 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_821577965] ON [dbo].[CTDDH]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_933578364]    Script Date: 3/14/2022 2:15:19 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_933578364] ON [dbo].[CTPN]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_901578250]    Script Date: 3/14/2022 2:15:19 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_901578250] ON [dbo].[CTPX]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_757577737]    Script Date: 3/14/2022 2:15:19 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_757577737] ON [dbo].[DatHang]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_TENKHO]    Script Date: 3/14/2022 2:15:19 PM ******/
ALTER TABLE [dbo].[Kho] ADD  CONSTRAINT [UK_TENKHO] UNIQUE NONCLUSTERED 
(
	[TENKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_709577566]    Script Date: 3/14/2022 2:15:19 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_709577566] ON [dbo].[Kho]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HO]    Script Date: 3/14/2022 2:15:19 PM ******/
CREATE NONCLUSTERED INDEX [IX_HO] ON [dbo].[NhanVien]
(
	[HO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MACN]    Script Date: 3/14/2022 2:15:19 PM ******/
CREATE NONCLUSTERED INDEX [IX_MACN] ON [dbo].[NhanVien]
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NhanVien]    Script Date: 3/14/2022 2:15:19 PM ******/
CREATE NONCLUSTERED INDEX [IX_NhanVien] ON [dbo].[NhanVien]
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TEN]    Script Date: 3/14/2022 2:15:19 PM ******/
CREATE NONCLUSTERED INDEX [IX_TEN] ON [dbo].[NhanVien]
(
	[TEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TrangThaiXoa]    Script Date: 3/14/2022 2:15:19 PM ******/
CREATE NONCLUSTERED INDEX [IX_TrangThaiXoa] ON [dbo].[NhanVien]
(
	[TrangThaiXoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_677577452]    Script Date: 3/14/2022 2:15:19 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_677577452] ON [dbo].[NhanVien]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_MaSoDDH]    Script Date: 3/14/2022 2:15:19 PM ******/
ALTER TABLE [dbo].[PhieuNhap] ADD  CONSTRAINT [UK_MaSoDDH] UNIQUE NONCLUSTERED 
(
	[MasoDDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NGAY]    Script Date: 3/14/2022 2:15:19 PM ******/
CREATE NONCLUSTERED INDEX [IX_NGAY] ON [dbo].[PhieuNhap]
(
	[NGAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_853578079]    Script Date: 3/14/2022 2:15:19 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_853578079] ON [dbo].[PhieuNhap]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NGAYPX]    Script Date: 3/14/2022 2:15:19 PM ******/
CREATE NONCLUSTERED INDEX [IX_NGAYPX] ON [dbo].[PhieuXuat]
(
	[NGAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_789577851]    Script Date: 3/14/2022 2:15:19 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_789577851] ON [dbo].[PhieuXuat]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_TENVT]    Script Date: 3/14/2022 2:15:19 PM ******/
ALTER TABLE [dbo].[Vattu] ADD  CONSTRAINT [UK_TENVT] UNIQUE NONCLUSTERED 
(
	[TENVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TENVT]    Script Date: 3/14/2022 2:15:19 PM ******/
CREATE NONCLUSTERED INDEX [IX_TENVT] ON [dbo].[Vattu]
(
	[TENVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_629577281]    Script Date: 3/14/2022 2:15:19 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_629577281] ON [dbo].[Vattu]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiNhanh] ADD  CONSTRAINT [MSmerge_df_rowguid_7BF3D72D37BC42C9A9325FBC53C9037F]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CTDDH] ADD  CONSTRAINT [MSmerge_df_rowguid_BDC09B3BE6C143C79693DEFFF123F17F]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CTPN] ADD  CONSTRAINT [MSmerge_df_rowguid_633B2BDB537C47E29C1B947F11234F8D]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CTPX] ADD  CONSTRAINT [MSmerge_df_rowguid_9AC99F974CB143E3A6BB12A08F8E250D]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[DatHang] ADD  CONSTRAINT [DF_DatHang_MasoDDH]  DEFAULT (getdate()) FOR [MasoDDH]
GO
ALTER TABLE [dbo].[DatHang] ADD  CONSTRAINT [DF_DatHang_NGAY]  DEFAULT (getdate()) FOR [NGAY]
GO
ALTER TABLE [dbo].[DatHang] ADD  CONSTRAINT [MSmerge_df_rowguid_A58E53A59A4F4ACA95C9BE58CEDFFCF3]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[Kho] ADD  CONSTRAINT [MSmerge_df_rowguid_0E14CD4A857045A7A4A93F39D54332B5]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [DF_NhanVien_TrangThaiXoa]  DEFAULT ((0)) FOR [TrangThaiXoa]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [MSmerge_df_rowguid_C3A5F8FEA17A43A1912CAFC817DAA1E9]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  CONSTRAINT [DF_PhieuNhap_MAPN]  DEFAULT (getdate()) FOR [MAPN]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  CONSTRAINT [DF_PhieuNhap_NGAY]  DEFAULT (getdate()) FOR [NGAY]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  CONSTRAINT [MSmerge_df_rowguid_026E3DF1EE844306A5C6E4BA74E1CB18]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[PhieuXuat] ADD  CONSTRAINT [DF_PX_NGAY]  DEFAULT (getdate()) FOR [NGAY]
GO
ALTER TABLE [dbo].[PhieuXuat] ADD  CONSTRAINT [MSmerge_df_rowguid_30B7001AAEE74A048C679DD35A4DC698]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[Vattu] ADD  CONSTRAINT [MSmerge_df_rowguid_3E4265311A1142C0A0B4CE88C2849673]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CTDDH]  WITH NOCHECK ADD  CONSTRAINT [FK_CTDDH_DatHang] FOREIGN KEY([MasoDDH])
REFERENCES [dbo].[DatHang] ([MasoDDH])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [FK_CTDDH_DatHang]
GO
ALTER TABLE [dbo].[CTDDH]  WITH NOCHECK ADD  CONSTRAINT [FK_CTDDH_VatTu] FOREIGN KEY([MAVT])
REFERENCES [dbo].[Vattu] ([MAVT])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [FK_CTDDH_VatTu]
GO
ALTER TABLE [dbo].[CTPN]  WITH NOCHECK ADD  CONSTRAINT [FK_CTPN_PhieuNhap] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PhieuNhap] ([MAPN])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [FK_CTPN_PhieuNhap]
GO
ALTER TABLE [dbo].[CTPN]  WITH NOCHECK ADD  CONSTRAINT [FK_CTPN_VatTu] FOREIGN KEY([MAVT])
REFERENCES [dbo].[Vattu] ([MAVT])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [FK_CTPN_VatTu]
GO
ALTER TABLE [dbo].[CTPX]  WITH NOCHECK ADD  CONSTRAINT [FK_CTPX_PX] FOREIGN KEY([MAPX])
REFERENCES [dbo].[PhieuXuat] ([MAPX])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [FK_CTPX_PX]
GO
ALTER TABLE [dbo].[CTPX]  WITH NOCHECK ADD  CONSTRAINT [FK_CTPX_VatTu] FOREIGN KEY([MAVT])
REFERENCES [dbo].[Vattu] ([MAVT])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [FK_CTPX_VatTu]
GO
ALTER TABLE [dbo].[DatHang]  WITH CHECK ADD  CONSTRAINT [FK_DatHang_Kho] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[Kho] ([MAKHO])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DatHang] CHECK CONSTRAINT [FK_DatHang_Kho]
GO
ALTER TABLE [dbo].[DatHang]  WITH NOCHECK ADD  CONSTRAINT [FK_DatHang_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[DatHang] CHECK CONSTRAINT [FK_DatHang_NhanVien]
GO
ALTER TABLE [dbo].[Kho]  WITH NOCHECK ADD  CONSTRAINT [FK_Kho_Kho] FOREIGN KEY([MACN])
REFERENCES [dbo].[ChiNhanh] ([MACN])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[Kho] CHECK CONSTRAINT [FK_Kho_Kho]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChiNhanh] FOREIGN KEY([MACN])
REFERENCES [dbo].[ChiNhanh] ([MACN])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChiNhanh]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH NOCHECK ADD  CONSTRAINT [FK_PhieuNhap_DatHang] FOREIGN KEY([MasoDDH])
REFERENCES [dbo].[DatHang] ([MasoDDH])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_DatHang]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_Kho] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[Kho] ([MAKHO])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_Kho]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH NOCHECK ADD  CONSTRAINT [FK_PhieuNhap_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NhanVien]
GO
ALTER TABLE [dbo].[PhieuXuat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuXuat_Kho] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[Kho] ([MAKHO])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PhieuXuat] CHECK CONSTRAINT [FK_PhieuXuat_Kho]
GO
ALTER TABLE [dbo].[PhieuXuat]  WITH NOCHECK ADD  CONSTRAINT [FK_PX_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[PhieuXuat] CHECK CONSTRAINT [FK_PX_NhanVien]
GO
ALTER TABLE [dbo].[CTDDH]  WITH NOCHECK ADD  CONSTRAINT [CK_DONGIA] CHECK NOT FOR REPLICATION (([DONGIA]>(0)))
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [CK_DONGIA]
GO
ALTER TABLE [dbo].[CTDDH]  WITH NOCHECK ADD  CONSTRAINT [CK_SOLUONG] CHECK NOT FOR REPLICATION (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [CK_SOLUONG]
GO
ALTER TABLE [dbo].[CTPN]  WITH NOCHECK ADD  CONSTRAINT [CK_DONGIACTPN] CHECK NOT FOR REPLICATION (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [CK_DONGIACTPN]
GO
ALTER TABLE [dbo].[CTPN]  WITH NOCHECK ADD  CONSTRAINT [CK_SOLUONGCTPN] CHECK NOT FOR REPLICATION (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [CK_SOLUONGCTPN]
GO
ALTER TABLE [dbo].[CTPX]  WITH NOCHECK ADD  CONSTRAINT [CK_DONGIACTPX] CHECK NOT FOR REPLICATION (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [CK_DONGIACTPX]
GO
ALTER TABLE [dbo].[CTPX]  WITH NOCHECK ADD  CONSTRAINT [CK_SOLUONGCTPX] CHECK NOT FOR REPLICATION (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [CK_SOLUONGCTPX]
GO
ALTER TABLE [dbo].[NhanVien]  WITH NOCHECK ADD  CONSTRAINT [CK_LUONG] CHECK NOT FOR REPLICATION (([LUONG]>=(4000000)))
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [CK_LUONG]
GO
ALTER TABLE [dbo].[Vattu]  WITH NOCHECK ADD  CONSTRAINT [CK_SOLUONGTON] CHECK NOT FOR REPLICATION (([SOLUONGTON]>=(0)))
GO
ALTER TABLE [dbo].[Vattu] CHECK CONSTRAINT [CK_SOLUONGTON]
GO
/****** Object:  StoredProcedure [dbo].[SP_CCN]    Script Date: 3/14/2022 2:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CCN]
@MANV INT
AS
DECLARE @MACN NCHAR(10) ,@HO nvarchar(40),@TEN nvarchar(10),@DIACHI nvarchar(100),@NGAYSINH DATETIME,@LUONG FLOAT,@MAMOI INT
BEGIN 
	SET XACT_ABORT ON
	SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;
	BEGIN DISTRIBUTED TRAN
	IF EXISTS(SELECT * FROM NhanVien WHERE MANV=@MANV)
	BEGIN
	SELECT @MACN=MACN ,@HO=HO,@TEN=TEN,@DIACHI=DIACHI,@NGAYSINH=NGAYSINH,@LUONG=LUONG FROM NhanVien WHERE MANV=@MANV
	IF EXISTS(SELECT * FROM LINK1.QLVT_DATHANG.DBO.NHANVIEN WHERE MACN!=@MACN AND HO=@HO AND TEN=@TEN AND DIACHI=@DIACHI AND NGAYSINH=@NGAYSINH AND @LUONG=LUONG AND TrangThaiXoa=1)
	BEGIN
		UPDATE NHANVIEN SET TrangThaiXoa=1  WHERE MANV=@MANV
		UPDATE LINK1.QLVT_DATHANG.DBO.NHANVIEN SET TrangThaiXoa=0
	END

	ELSE
	IF @MACN='CN1'
	BEGIN

	UPDATE NhanVien SET TrangThaiXoa=1  WHERE MANV=@MANV
	SELECT @MAMOI=(SELECT MAX(MANV) FROM LINK2.QLVT_DATHANG.DBO.NHANVIEN)
	set @MAMOI=@MAMOI+1
	INSERT INTO LINK1.QLVT_DATHANG.DBO.NHANVIEN(MANV, HO, TEN, DIACHI, NGAYSINH, LUONG, MACN, TrangThaiXoa) VALUES(@MAMOI,@HO,@TEN,@DIACHI,@NGAYSINH,@LUONG,'CN2',0)
	END

	IF @MACN='CN2'
	BEGIN
	UPDATE NhanVien SET TrangThaiXoa=1  WHERE MANV=@MANV
	SELECT @MAMOI=(SELECT MAX(MANV) FROM LINK2.QLVT_DATHANG.DBO.NHANVIEN)
	set @MAMOI=@MAMOI+1
	INSERT INTO LINK1.QLVT_DATHANG.DBO.NHANVIEN(MANV, HO, TEN, DIACHI, NGAYSINH, LUONG, MACN, TrangThaiXoa) VALUES(@MAMOI,@HO,@TEN,@DIACHI,@NGAYSINH,@LUONG,'CN1',0)
	END
	END
	COMMIT TRAN;
	IF EXISTS(SELECT SUSER_SNAME(sid) FROM sys.sysusers WHERE name = CAST(@MANV AS NVARCHAR))
	BEGIN
	exec Xoa_Login @MANV
	END

END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKID]    Script Date: 3/14/2022 2:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_CHECKID]
@Code NVARCHAR(15), @Type NVARCHAR(15)
AS
BEGIN
	-- Nhân viên
	IF(@Type = 'MANV')
	BEGIN
		IF EXISTS(SELECT * FROM dbo.NhanVien WHERE dbo.NhanVien.MANV = @Code)
			RETURN 1; -- Mã NV tồn tại ở phân mảnh hiện tại
		ELSE IF EXISTS(SELECT * FROM LINK1.QLVT_DATHANG.dbo.NhanVien AS NV WHERE NV.MANV = @Code)
			RETURN 2; -- Mã NV tồn tại ở phân mảnh khác
	END

	-- Kho
	IF(@Type = 'MAKHO')
	BEGIN
		IF EXISTS(SELECT * FROM dbo.Kho WHERE dbo.Kho.MAKHO = @Code)
			RETURN 1; -- Mã kho tồn tại ở phân mảnh hiện tại
		ELSE IF EXISTS(SELECT * FROM LINK1.QLVT_DATHANG.dbo.Kho AS KHO WHERE KHO.MAKHO = @Code)
			RETURN 2; -- Mã Kho tồn tại ở phân mảnh khác
	END
	IF(@Type = 'TENKHO')
	BEGIN
		IF EXISTS(SELECT * FROM dbo.Kho WHERE dbo.Kho.TENKHO = @Code)
			RETURN 1; -- Tên kho tồn tại ở phân mảnh hiện tại
		ELSE IF EXISTS(SELECT * FROM LINK1.QLVT_DATHANG.dbo.Kho AS KHO WHERE KHO.TENKHO = @Code)
			RETURN 2; -- Tên Kho tồn tại ở phân mảnh khác
	END

	-- Đặt hàng
	IF(@Type = 'MasoDDH')
	BEGIN
		IF EXISTS(SELECT * FROM dbo.DatHang WHERE dbo.DatHang.MasoDDH = @Code)
			RETURN 1; -- Mã DDH tồn tại ở phân mảnh hiện tại
		ELSE IF EXISTS(SELECT * FROM LINK1.QLVT_DATHANG.dbo.DatHang AS DH WHERE DH.MasoDDH = @Code)
			RETURN 2; -- Mã DDH tồn tại ở phân mảnh khác
	END

	-- Phiếu Xuất
	IF(@Type = 'MAPX')
	BEGIN
		IF EXISTS(SELECT * FROM dbo.PhieuXuat WHERE dbo.PhieuXuat.MAPX = @Code)
			RETURN 1; -- Mã PX tồn tại ở phân mảnh hiện tại
		ELSE IF EXISTS(SELECT * FROM LINK1.QLVT_DATHANG.dbo.PhieuXuat AS PX WHERE PX.MAPX = @Code)
			RETURN 2; -- Mã PX tồn tại ở phân mảnh khác
	END

	-- Phiếu Nhập
	IF(@Type = 'MAPN')
	BEGIN
		IF EXISTS(SELECT * FROM dbo.PhieuNhap WHERE dbo.PhieuNhap.MAPN = @Code)
			RETURN 1; -- Mã PN tồn tại ở phân mảnh hiện tại
		ELSE IF EXISTS(SELECT * FROM LINK1.QLVT_DATHANG.dbo.PhieuNhap AS PN WHERE PN.MAPN = @Code)
			RETURN 2; -- Mã PN tồn tại ở phân mảnh khác
	END

	-- Vật tư, chỉ cần check ở site hiện tại
	IF(@Type = 'MAVT')
	BEGIN
		IF EXISTS(SELECT * FROM dbo.Vattu WHERE MAVT = @Code)
		RETURN 1;
	END

	RETURN 0 -- Không bị trùng
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKID_TRACUU]    Script Date: 3/14/2022 2:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CHECKID_TRACUU]
@Code NVARCHAR(30), @Type NVARCHAR(15)
AS
BEGIN
	-- Nhân viên
	IF(@Type = 'MANV')
	BEGIN
		IF EXISTS(SELECT * FROM LINK2.QLVT_DATHANG.dbo.NhanVien AS NV WHERE NV.MANV = @Code)
			RETURN 1; -- Mã NV tồn tại đã tồn tại
	END

	-- Kho
	IF(@Type = 'MAKHO')
	BEGIN
		IF EXISTS(SELECT * FROM LINK2.QLVT_DATHANG.dbo.Kho AS KHO WHERE KHO.MAKHO = @Code)
			RETURN 1; -- Mã Kho đã tồn tại
	END

	IF(@Type = 'TENKHO')
	BEGIN
		IF EXISTS(SELECT * FROM LINK2.QLVT_DATHANG.dbo.Kho AS KHO WHERE KHO.TENKHO = @Code)
			RETURN 1; -- Tên Kho đã tồn tại
	END

	RETURN 0 -- Không bị trùng
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CheckIDCTPN]    Script Date: 3/14/2022 2:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_CheckIDCTPN]
@MAPN nchar(8),@MAVT nchar(4)
as
IF EXISTS(select * from CTPN where MAVT=@MAVT and MAPN=@MAPN)
BEGIN
RETURN 1
END
ELSE
BEGIN
RETURN 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKTT_MAVT]    Script Date: 3/14/2022 2:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROC [dbo].[SP_CHECKTT_MAVT]
@MAVT nchar(4)
AS
BEGIN
	IF EXISTS(SELECT 1 
			  FROM (SELECT MAVT FROM Vattu) VT  
			  WHERE VT.MAVT = @MAVT  AND (EXISTS(SELECT 1 FROM CTPN WHERE CTPN.MAVT = VT.MAVT) OR EXISTS(SELECT 1 FROM CTPX WHERE CTPX.MAVT = VT.MAVT) 
					OR EXISTS(SELECT 1 FROM CTDDH WHERE CTDDH.MAVT = VT.MAVT)))
			RETURN 1; -- Mã Vattu đang dùng ở phân mảnh hiện tại
	ELSE IF EXISTS(SELECT 1
				   FROM (SELECT MAVT FROM Vattu) VT  
				   WHERE VT.MAVT = @MAVT AND (EXISTS(SELECT 1 FROM LINK1.QLVT_DATHANG.dbo.CTPN PN WHERE PN.MAVT = VT.MAVT) OR EXISTS(SELECT MAPX FROM LINK1.QLVT_DATHANG.dbo.CTPX PX WHERE PX.MAVT = VT.MAVT) 
						OR EXISTS(SELECT MasoDDH FROM LINK1.QLVT_DATHANG.dbo.CTDDH DH WHERE DH.MAVT = VT.MAVT)))
			RETURN 2; -- Mã Vattu đang dùng ở phân mảnh khác
	RETURN 0; -- Không dùng
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAP]    Script Date: 3/14/2022 2:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANGNHAP]
@TENLOGIN NVARCHAR (50)
AS
DECLARE @TENUSER NVARCHAR(50)
SELECT @TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)
 
 SELECT USERNAME = @TENUSER, 
  HOTEN = (SELECT HO+ ' '+ TEN FROM NHANVIEN  WHERE MANV = @TENUSER ),
   TENNHOM= NAME
   FROM sys.sysusers 
   WHERE UID = (SELECT GROUPUID 
                 FROM SYS.SYSMEMBERS 
                   WHERE MEMBERUID= (SELECT UID FROM sys.sysusers 
                                      WHERE NAME=@TENUSER))
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORTDonhangkhongcoPhieuNhap]    Script Date: 3/14/2022 2:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[SP_REPORTDonhangkhongcoPhieuNhap]
AS
begin
SELECT DH.MasoDDH,Ngay,NhaCC,TenNV, TENVT, SOLUONG, DONGIA 
FROM
	(SELECT MasoDDH,Ngay,NhaCC, MANV FROM dbo.DatHang
	WHERE DatHang.MasoDDH not in (
	SELECT MasoDDH FROM dbo.PhieuNhap)) DH,
	(SELECT MANV,TENNV = HO +' ' +Ten FROM dbo.NhanVien) NV,
	(SELECT MAVT,TENVT FROM dbo.Vattu) VT,
	CTDDH CT
WHERE (NV.MANV = DH.MANV) AND (VT.MAVT =CT.MAVT) AND (CT.MasoDDH = DH.MasoDDH)
end
GO
/****** Object:  StoredProcedure [dbo].[SP_RP_DSVATTU]    Script Date: 3/14/2022 2:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_RP_DSVATTU] AS
begin
SELECT * FROM dbo.Vattu WITH (INDEX=IX_TENVT)
end
GO
/****** Object:  StoredProcedure [dbo].[SP_RP_TTNhanVien]    Script Date: 3/14/2022 2:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC  [dbo].[SP_RP_TTNhanVien]
as
BEGIN

	BEGIN
	SELECT MANV, HO + ' ' + TEN AS HOTEN, DIACHI, NGAYSINH, LUONG
	FROM dbo.NhanVien  WITH(INDEX=IX_TrangThaiXoa)
	WHERE TrangThaiXoa=0  order by TEN,HO
	END

END

GO
/****** Object:  StoredProcedure [dbo].[SP_RPChiTietSL_TriGiaNhapXuat]    Script Date: 3/14/2022 2:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_RPChiTietSL_TriGiaNhapXuat]
@ROLE NCHAR(10),@LOAI NCHAR(4) ,@DATEBEGIN DATE, @DATEEND DATE
AS
BEGIN
DECLARE @TEMP TABLE(
NGAY DATE,
TENVT NVARCHAR(30),
SOLUONG INT,
DONGIA FLOAT,
TRIGIA FLOAT)

IF(@ROLE='CONGTY')
	BEGIN


		IF(@LOAI='NHAP')
		BEGIN
			insert into @TEMP
			select PhieuNhap.NGAY as NGAY,Vattu.TENVT as TENVT,CTPN.SOLUONG as SOLUONG,DONGIA,TRIGIA=CTPN.DONGIA*CTPN.SOLUONG
			from ((CTPN INNER JOIN PhieuNhap WITH(INDEX=IX_NGAY) ON CTPN.MAPN=PhieuNhap.MAPN)INNER JOIN Vattu ON CTPN.MAVT=Vattu.MAVT) 
			WHERE NGAY BETWEEN @DATEBEGIN AND @DATEEND
			union
			select PhieuNhap.NGAY as NGAY,Vattu.TENVT as TENVT,CTPN.SOLUONG as SOLUONG,DONGIA,TRIGIA=CTPN.DONGIA*CTPN.SOLUONG
			from ((LINK0.QLVT_DATHANG.DBO.CTPN INNER JOIN LINK0.QLVT_DATHANG.DBO.PhieuNhap  ON CTPN.MAPN=PhieuNhap.MAPN)INNER JOIN LINK0.QLVT_DATHANG.DBO.Vattu ON CTPN.MAVT=Vattu.MAVT)
			WHERE NGAY BETWEEN @DATEBEGIN AND @DATEEND
			
		END
		ELSE
		BEGIN
			insert into @TEMP
			select PhieuXuat.NGAY as NGAY,Vattu.TENVT as TENVT,CTPX.SOLUONG as SOLUONG,DONGIA,TRIGIA=CTPX.DONGIA*CTPX.SOLUONG
			from ((CTPX INNER JOIN PhieuXuat WITH(INDEX=IX_NGAYPX) ON CTPX.MAPX=PhieuXuat.MAPX)INNER JOIN Vattu ON CTPX.MAVT=Vattu.MAVT)
			WHERE NGAY BETWEEN @DATEBEGIN AND @DATEEND
			union
			select PhieuXuat.NGAY as NGAY,Vattu.TENVT as TENVT,CTPX.SOLUONG as SOLUONG,DONGIA,TRIGIA=CTPX.DONGIA*CTPX.SOLUONG
			from ((LINK0.QLVT_DATHANG.DBO.CTPX INNER JOIN LINK0.QLVT_DATHANG.DBO.PhieuXuat  ON CTPX.MAPX=PhieuXuat.MAPX)INNER JOIN LINK0.QLVT_DATHANG.DBO.Vattu ON CTPX.MAVT=Vattu.MAVT)
			WHERE NGAY BETWEEN @DATEBEGIN AND @DATEEND
		END
	END

	ELSE
	BEGIN
		IF(@LOAI='NHAP')
		BEGIN
		insert into @TEMP
			select PhieuNhap.NGAY as NGAY,Vattu.TENVT as TENVT,CTPN.SOLUONG as SOLUONG,DONGIA,TRIGIA=CTPN.DONGIA*CTPN.SOLUONG
			from ((CTPN INNER JOIN PhieuNhap WITH(INDEX=IX_NGAY)  ON CTPN.MAPN=PhieuNhap.MAPN)INNER JOIN Vattu ON CTPN.MAVT=Vattu.MAVT)
			WHERE NGAY BETWEEN @DATEBEGIN AND @DATEEND
			
		END
		ELSE
		BEGIN
		insert into @TEMP
			select PhieuXuat.NGAY as NGAY,Vattu.TENVT as TENVT,CTPX.SOLUONG as SOLUONG,DONGIA,TRIGIA=CTPX.DONGIA*CTPX.SOLUONG
			from ((CTPX INNER JOIN PhieuXuat WITH(INDEX=IX_NGAYPX) ON CTPX.MAPX=PhieuXuat.MAPX)INNER JOIN Vattu ON CTPX.MAVT=Vattu.MAVT)
			WHERE NGAY BETWEEN @DATEBEGIN AND @DATEEND			
		END
	END
		SELECT format(NGAY,'MM/yyyy') as THANGNAM,format(NGAY,'MM') as THANG, format(NGAY,'yyyy') as NAM,TENVT, SUM(SOLUONG) AS TONGSOLUONG,SUM(TRIGIA)AS TONGTRIGIA 
			FROM @TEMP 
			GROUP BY format(NGAY,'MM/yyyy'),format(NGAY,'yyyy'), format(NGAY,'MM'),TENVT
			ORDER BY  format(NGAY,'yyyy'), format(NGAY,'MM'),TENVT
END


GO
/****** Object:  StoredProcedure [dbo].[SP_RPHoatDongNV]    Script Date: 3/14/2022 2:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_RPHoatDongNV] 
@MANV INT,@TIMEFROM DATE,@TIMETO DATE,@LOAI NCHAR(4)
AS
BEGIN
	IF(@LOAI='NHAP')
	BEGIN
	SELECT  format(NGAY,'MM/yyyy') as THANGNAM,NGAY as THOIGIAN,CTPN.MAPN as MAPHIEU,TENVT,TENKHO,SOLUONG,DONGIA,TRIGIA=DONGIA*SOLUONG
	FROM (((CTPN INNER JOIN Vattu ON CTPN.MAVT=Vattu.MAVT)
				 INNER JOIN PhieuNhap WITH(INDEX=IX_NGAY) ON CTPN.MAPN=PhieuNhap.MAPN)
				 INNER JOIN KHO ON KHO.MAKHO=PhieuNhap.MAKHO) WHERE NGAY BETWEEN @TIMEFROM AND @TIMETO AND PhieuNhap.MANV=@MANV
	END
	ELSE
	BEGIN
	SELECT  format(NGAY,'MM/yyyy') as THANGNAM,NGAY as THOIGIAN,CTPX.MAPX as MAPHIEU,TENVT,TENKHO,SOLUONG,DONGIA,TRIGIA=DONGIA*SOLUONG
	FROM (((CTPX INNER JOIN Vattu ON CTPX.MAVT=Vattu.MAVT)
				 INNER JOIN PhieuXuat  WITH(INDEX=IX_NGAYPX) ON CTPX.MAPX=PhieuXuat.MAPX)
				 INNER JOIN KHO ON KHO.MAKHO=PhieuXuat.MAKHO) WHERE NGAY BETWEEN @TIMEFROM AND @TIMETO AND PhieuXuat.MANV=@MANV
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RPTonghopNhapXuat]    Script Date: 3/14/2022 2:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_RPTonghopNhapXuat]
	@NGAYBD date, @NGAYKT date
AS
BEGIN
	
		SELECT	PN.NGAY,
				NHAP = SUM(CTPN.SOLUONG * CTPN.DONGIA), 
				TYLENHAP = (SUM(CTPN.SOLUONG * CTPN.DONGIA) / (SELECT SUM(SOLUONG*DONGIA) FROM CTPN INNER JOIN PhieuNhap WITH (INDEX = IX_NGAY) ON CTPN.MAPN=PhieuNhap.MAPN WHERE NGAY BETWEEN @NGAYBD AND @NGAYKT)) INTO #PhieuNhapTemp
		FROM PhieuNhap AS PN
			INNER JOIN (SELECT * FROM CTPN) AS CTPN 
			ON PN.MAPN = CTPN.MAPN
		WHERE NGAY BETWEEN @NGAYBD AND @NGAYKT
		GROUP BY PN.NGAY

		SELECT	PX.NGAY,
				XUAT = SUM(CTPX.SOLUONG * CTPX.DONGIA),
				TYLEXUAT = (SUM(CTPX.SOLUONG * CTPX.DONGIA) / (SELECT SUM(SOLUONG*DONGIA) FROM CTPX INNER JOIN PhieuXuat WITH (INDEX = IX_NGAYPX) ON CTPX.MAPX=PhieuXuat.MAPX WHERE NGAY BETWEEN @NGAYBD AND @NGAYKT))  INTO #PhieuXuatTemp
		FROM PhieuXuat AS PX
			INNER JOIN (SELECT * FROM CTPX) AS CTPX 
			ON PX.MAPX = CTPX.MAPX
		WHERE NGAY BETWEEN @NGAYBD AND @NGAYKT
		GROUP BY PX.NGAY				

		SELECT 
		ISNULL(PN.NGAY, PX.NGAY) AS NGAY, --
		ISNULL(PN.NHAP, 0) AS NHAP,
		ISNULL(PN.TYLENHAP, 0) AS TYLENHAP,
		ISNULL(PX.XUAT, 0) AS XUAT,
		ISNULL(PX.TYLEXUAT, 0) AS TYLEXUAT
		FROM #PhieuNhapTemp AS PN
		FULL JOIN #PhieuXuatTemp AS PX
		ON PN.NGAY = PX.NGAY
		ORDER BY NGAY
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoTaiKhoan]    Script Date: 3/14/2022 2:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_TaoTaiKhoan]
	@LGNAME VARCHAR(50),
	@PASS VARCHAR(50),
	@USERNAME VARCHAR(50),
	@ROLE VARCHAR(50)
AS
BEGIN
  DECLARE @RET INT
  EXEC @RET= SP_ADDLOGIN @LGNAME, @PASS,'QLVT_DATHANG'                     

  IF (@RET =1)  -- LOGIN NAME BI TRUNG
     RETURN 1

  EXEC @RET= SP_GRANTDBACCESS @LGNAME, @USERNAME
  IF (@RET =1)  -- USER  NAME BI TRUNG
  BEGIN
       EXEC SP_DROPLOGIN @LGNAME
       RETURN 2
  END
  EXEC sp_addrolemember @ROLE, @USERNAME

  IF @ROLE= 'CONGTY' 
	BEGIN
		EXEC sp_addsrvrolemember @LGNAME, 'sysadmin'
		EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'
		EXEC sp_addsrvrolemember @LGNAME, 'ProcessAdmin'
	END

  IF @ROLE= 'CHINHANH'
	BEGIN 
		EXEC sp_addsrvrolemember @LGNAME, 'sysadmin'
		EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'
		EXEC sp_addsrvrolemember @LGNAME, 'ProcessAdmin'
	END
  IF @ROLE= 'USER'
	BEGIN  
		EXEC sp_addsrvrolemember @LGNAME, 'ProcessAdmin'
	END

END
GO
/****** Object:  StoredProcedure [dbo].[sp_TIM_MANV]    Script Date: 3/14/2022 2:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_TIM_MANV]
@MANV INT
AS
 IF EXISTS (SELECT MANV FROM NHANVIEN WHERE MANV=@MANV )
 RETURN 1;
 IF EXISTS (SELECT MANV FROM LINK2.QLVT_DATHANG.DBO.NHANVIEN WHERE MANV=@MANV )
 RETURN 1;
 ELSE
 RETURN 0;
GO
/****** Object:  StoredProcedure [dbo].[sp_TimNV]    Script Date: 3/14/2022 2:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[sp_TimNV]
  @X INT
AS
 DECLARE @MACN VARCHAR(10), @HO nvarchar(50), @TEN nvarchar(10)
 IF  exists(select MANV from  dbo.NHANVIEN  where MANV =@X)
 BEGIN
   	SELECT TENCN= (SELECT CHINHANH FROM dbo.CHINHANH),  HO, TEN 
   	FROM NHANVIEN WHERE MANV=@X
 END
 ELSE
  IF  exists(select MANV from  LINK0.QLVT_DATHANG.dbo.NHANVIEN  where MANV =@X)
  BEGIN
    SELECT  @MACN= MACN,  @HO=HO, @TEN=TEN 
   	    FROM LINK1.QLVT_DATHANG.dbo.NHANVIEN WHERE MANV=@X
   	SELECT  TENCN=CHINHANH,  HO=@HO, TEN =@TEN
   	 FROM LINK1.QLVT_DATHANG.dbo.CHINHANH  WHERE MACN=@MACN
   	                  
  END
  ELSE  -- không có nv
     raiserror ( 'Ma nhan vien ban tim khong co', 16, 1)
GO
/****** Object:  StoredProcedure [dbo].[SP_TRANV]    Script Date: 3/14/2022 2:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[SP_TRANV]
@MANV INT
AS
DECLARE @MACN NCHAR(10) ,@HO nvarchar(40),@TEN nvarchar(10),@DIACHI nvarchar(100),@NGAYSINH DATETIME,@LUONG FLOAT
BEGIN
UPDATE NhanVien SET TrangThaiXoa=0 WHERE MANV=@MANV
SELECT @MACN=MACN ,@HO=HO,@TEN=TEN,@DIACHI=DIACHI,@NGAYSINH=NGAYSINH,@LUONG=LUONG FROM NhanVien WHERE MANV=@MANV
IF EXISTS(SELECT * FROM LINK1.QLVT_DATHANG.DBO.NHANVIEN WHERE MACN!=@MACN AND HO=@HO AND TEN=@TEN AND DIACHI=@DIACHI AND NGAYSINH=@NGAYSINH AND @LUONG=LUONG AND TrangThaiXoa=0 )
BEGIN
UPDATE LINK1.QLVT_DATHANG.DBO.NHANVIEN SET TrangThaiXoa=1 WHERE  MACN!=@MACN AND HO=@HO AND TEN=@TEN AND DIACHI=@DIACHI AND NGAYSINH=@NGAYSINH AND @LUONG=LUONG AND TrangThaiXoa=0
END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TTNHANVIEN]    Script Date: 3/14/2022 2:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TTNHANVIEN]
@MANV INT
AS
BEGIN
	SELECT MANV,HO+' '+TEN as HOTEN,DIACHI,NGAYSINH,LUONG,MACN FROM NhanVien WHERE MANV=@MANV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateSLVatTu]    Script Date: 3/14/2022 2:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_UpdateSLVatTu]
@MAVT nchar(4),
@SOLUONG int,
@TYPE NVARCHAR(15)
AS
BEGIN
	IF(@TYPE = 'IMPORT')
	BEGIN
		IF EXISTS(SELECT MAVT FROM dbo.CTPN WHERE dbo.CTPN.MAVT =  @MAVT)
			BEGIN
				UPDATE dbo.Vattu SET SOLUONGTON = SOLUONGTON + @SOLUONG WHERE MAVT= @MAVT
				RETURN 1
			END
			ELSE
				RETURN 0
	END

	IF(@TYPE = 'EXPORT')
	BEGIN
		IF EXISTS(SELECT MAVT FROM dbo.CTPX WHERE dbo.CTPX.MAVT =  @MAVT)
			BEGIN
				UPDATE dbo.Vattu SET SOLUONGTON = SOLUONGTON - @SOLUONG WHERE MAVT= @MAVT
				RETURN 1
			END
			ELSE
				RETURN 0
	END
END
GO
/****** Object:  StoredProcedure [dbo].[V_DSNV_CHUATK]    Script Date: 3/14/2022 2:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[V_DSNV_CHUATK]
as
BEGIN

SELECT MANV,HO+' '+TEN as HOTEN
FROM NHANVIEN 
WHERE TrangThaiXoa = 0 AND NOT EXISTS(SELECT SUSER_SNAME(sid) FROM sys.sysusers WHERE name = CAST(MANV AS NVARCHAR))
END
GO
/****** Object:  StoredProcedure [dbo].[V_DSNV_TK]    Script Date: 3/14/2022 2:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[V_DSNV_TK]
as
BEGIN

SELECT MANV,HO+' '+TEN as HOTEN
FROM NHANVIEN 
WHERE TrangThaiXoa = 0 AND  EXISTS(SELECT SUSER_SNAME(sid) FROM sys.sysusers WHERE name = CAST(MANV AS NVARCHAR))
END
GO
/****** Object:  StoredProcedure [dbo].[Xoa_Login]    Script Date: 3/14/2022 2:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Xoa_Login]
@USRNAME VARCHAR(50)
AS
DECLARE @LGNAME VARCHAR(50)
IF EXISTS (SELECT SUSER_SNAME(sid) FROM sys.sysusers WHERE name = CAST(@USRNAME AS NVARCHAR))
BEGIN
	SET @LGNAME = CAST((SELECT SUSER_SNAME(sid) FROM sys.sysusers WHERE name = CAST(@USRNAME AS NVARCHAR)) AS VARCHAR(50))
	EXEC SP_DROPUSER @USRNAME
	EXEC SP_DROPLOGIN @LGNAME
	 RETURN 0;
END
ELSE
BEGIN
 RETURN 1;
END

GO
USE [master]
GO
